<div ng-controller="TodoPesquisaCtrl" class="container-fluid">
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            <b>Cadastro de TODO</b>
        </div>

        <div class="panel-body">
            <div class="col-md-12 alert {{alert.type}} fade in" ng-show="alert.message">
                <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong ng-bind="alert.title"></strong> {{alert.message}}
            </div>
            
            <form role="form" ng-submit="listar()">
                <div class="form-group">
                    <label for="usuario">Usuário:</label>
                    <input ng-model="usuario" type="text" class="form-control" id="usuario" required>
                </div>

                <button type="submit" class="btn btn-primary" ladda="loading"  
                        data-style="expand-right">Pesquisar</button>
                <a href="#/todo" class="btn btn-success">Cadastrar</a>
                <button ng-click="limpar()" type="button" class="btn btn-default">Limpar</button>
            </form>
            
            <div class="row" ng-if="todos">
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 20%;">ID</th>
                                <th style="width: 10%;">Usuário</th>
                                <th style="width: 60%;">TODO</th>
                                <th style="width: 10%;">Finalizado?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="todo in getTodos()">
                                <td>
                                    <a href="#/todo/{{todo._id}}">{{todo._id}}</a>
                                </td>
                                <td>
                                    <span ng-bind="todo.usuario"></span>
                                </td>
                                <td>
                                    <p><span ng-bind="todo.todo"></span></p>
                                </td>
                                <td>
                                    <span ng-bind="todo.finalizado ? 'SIM' : 'NÃO'"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
